<section>
    <div class="container">
        <div class="col-8">
            <div class="mod_mainnews">
                <div class="heading">
                    <span><a href="{{ url('bidhee_frontend_news_by_category', {'id':5}) }}"
                             title="">मुख्य समाचार</a></span>
                    <a href="{{ url('bidhee_frontend_news_by_category', {'id':5}) }}" class="more">थप समाचार</a>
                </div>
                <div class="block">
                    {% for news in importantNews|slice(0,1) %}
                        <div class="colLeft">
                            {% if(news.featuredImage) %}
                                <h4><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                       title="{{ news.title }}">{{ news.title }}</a></h4>
                                <figure><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}" title=""><img
                                                src="{{ news.featuredImage|relative_path| imagine_filter('bidhee_thumbnail_480_290') }}"
                                                height="290" width="480" alt=""></a></figure>
                            {% endif %}

                            <div class="intro">{{ news.introText }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="colRight">
                        {% if importantNews %}
                        {% for key,news in importantNews|slice(1,1) %}
                        <ul>
                            <li>
                                <h5><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                       title="{{ news.title }}">{{ news.title }}</a></h5>
                                <div class="tbl">
                                    {% if(news.featuredImage) %}
                                        <figure><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                                   title=""><img
                                                        src="{{ news.featuredImage|relative_path| imagine_filter('bidhee_thumbnail_100_65') }}"
                                                        height="65" width="100" alt="{{ news.title }}"></a></figure>
                                    {% endif %}
                                    <div class="intro">
                                        <div class="overflow">
                                            {% if news.authorcheck == true %}{% if news.authorName is not null %}<span
                                                    class="author">{{ news.authorName }}{% endif %}{% endif %}</span> {{ news.introText|truncateSentence(7) }}
                                        </div>{#{{ news.introText|truncateSentence(8) }}#}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% endif %}
                            {% if importantNews %}
                                {% for key,news in importantNews|slice(2,1) %}

                                    <li>
                                        <h5><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                               title="{{ news.title }}">{{ news.title }}</a></h5>
                                        <div class="tbl">
                                            <div class="intro">
                                                <div class="overflow">
                                                    {#{{ news.publishOn|date('Y-m-d')|nepaliDate }},#}
                                                    {% if news.authorcheck == true %}{% if news.authorName is not null %}
                                                    <span class="author">{{ news.authorName }}{% endif %}{% endif %}</span> {{ news.introText|truncateSentence(7) }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                {% endfor %}
                            {% endif %}
                            {% if importantNews %}
                                {% for key,news in importantNews|slice(3,3) %}
                                    <li><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                           title="{{ news.title }}">{{ news.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="tabber">
                <ul class="options">
                    {#<li><a href="#tab-1" title="">Live Updates</a></li>#}
                    <li><a href="#tab-2" title="">ताजा अपडेट</a></li>
                    <li><a href="#tab-3" title="">लोकप्रिय</a></li>
                    {# <li><a href="#tab-3" title="">प्रचलित</a></li>#}
                </ul>
                {#<div id="tab-1">#}
                    {#<a class="twitter-timeline" data-height="357" href="https://twitter.com/janatasamachar">Tweets by janatasamachar</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>#}
                {#</div>#}
                <div id="tab-2">
                    <ul>
                        {% for key,news in tajaUpdates|slice(0,3) %}
                            <li>
                                <h5><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                       title="{{ news.title }}">{{ news.title }}</a></h5>
                                <div class="tbl">
                                    {% if(news.featuredImage) %}
                                        <figure><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                                   title="{{ news.title }}"><img
                                                        src="{{ news.featuredImage|relative_path| imagine_filter('bidhee_thumbnail_100_65') }}"
                                                        alt=""></a></figure>
                                    {% endif %}
                                    <div class="intro">
                                        <div class="overflow">{% if news.authorcheck == true %}{% if news.authorName is not null %}
                                            <span class="author">{{ news.authorName }}{% endif %}{% endif %}</span> {{ news.introText|truncateSentence(15) }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="tab-3">
                    <ul>
                        {% for key,news in getViewCountNews %}

                            <li>
                                <h5><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                       title="{{ news.title }}">{{ news.title }}</a></h5>
                                <div class="tbl">
                                    {% if(news.featured_image) %}
                                        <figure><a href="{{ path('bidhee_frontend_news', {'id': news.id}) }}"
                                                   title="{{ news.title }}"><img
                                                        src="{{ news.featured_image|relative_path| imagine_filter('bidhee_thumbnail_100_65') }}"
                                                        alt=""></a></figure>
                                    {% endif %}
                                    <div class="intro">
                                        <div class="overflow">{#{% if news.is_author == true %}{% if news.authorName is not null%}#}{#<span class="author">{{news.authorName}}{% endif %}{% endif %}</span> #}{{ news.intro_text|truncateSentence(15) }}</div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
